@font-face {
  font-family: RTSFont;
  src: url("../public/fonts/BrusselsCityPersonalUsed-L3Lon.otf");
}


/* * {
  font-family: RTSFont !important;

} */
.App {
  text-align: center;
}

body {
  background-color: #e1f8f8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navdiv {
  margin-left: 75%;
}

.Navlink {
  color: #096387;
  text-decoration: none;
  transition-duration: 0.3s;
  padding: 2px;
  border-radius: 2px;
  font-size: 18px;
  animation-name: homepage;
  margin-left: 10px;
  width: 50px;
}

#icons {
  width: 50px;
  height: inherit;
}

nav {
  display: flex;
  align-items: center;
}

.link {
  color: #096387;
  text-decoration: none;
  transition-duration: 0.3s;
  padding: 2px;
  border-radius: 2px;
  font-size: 18px;
  animation-name: homepage;
  border-bottom: #096387 2px solid;
}

.link:hover {
  font-size: 22px;
  font-weight: bold;
}

.UniDiv {
  float: left;
  padding: 10px;
  margin-left: 27px;
  margin-top: 30px;
  background-color: #096387;
  border-radius: 25px;
}

#teacher {
  text-align: center;
  margin-left: 135px;
}

.h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.image {
  width: 400px;
  height: 350px;
  border-width: 5px;
  border-radius: 10px;
}

.details {
  border-width: 10px;
  text-align: center;
  margin-left: 155px;
  color: #096387;
  text-decoration: none;
  transition-duration: 0.3s;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #e1f8f8;
  font-weight: bold;
  font-size: 18px;
}

#major_div {
  margin-left: 130px;
}

.input {
  width: 80%;
  padding: 10px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid rgb(9 99 135);
  border-radius: 20px;
  margin-left: 10%;
  font-size: 20px;
  color: rgb(148, 146, 146);
  background-image: url('https://cdn.discordapp.com/attachments/857012204775276594/990588792140345354/42-search-solid.gif');
  background-position: 100px 120px;
  background-repeat: no-repeat;
}


/* b1bbca */

.map {
  width: 80%;
  height: inherit;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 18px;
}

.Profile_pic {
  width: 25%;
  height: inherit;
  margin-left: 37.5%;
  margin-top: 25px;
  margin-bottom: 15px;
}

.UniDiv_1 {
  float: left;
  padding: 10px;
  margin-left: 55px;
  margin-top: 30px;
  background-color: #096387;
  border-radius: 25px;
  width: 360px;
  height: inherit;
  align-items: center;
}

.help-image {
  width: inherit;
  border-width: 5px;
  border-radius: 10px;
  margin-left: 35%;
}

::placeholder {
  color: rgb(148, 146, 146)
}

#name {
  color: #b10606;
  font-family: serif;
  font-size: 30px;
}

.profile_details {
  list-style-type: none;
  padding: 10px;
  text-align: left;
  font-size: 25px;
  color: white;
  background-color: #096387;
  width: 50%;
  border-radius: 20px;
  margin-left: 25%;
}

li {
  text-align: center;
}

#Nav-image {
  width: 80px;
  height: inherit;
  margin-left: 20px;
}

.Header {
  font-family: RTSFont !important;
  margin-top: 50px;
  color: #096387;
  text-align: center;
  animation-name: example;
  animation-duration: 5s;
  animation-direction: reverse;
  position: relative;
}

#somehelp {
  width: 300px;
  height: inherit;
  margin-left: 30px;
  margin-top: 30px;
}

.teacher-header {
  margin-top: 50px;
  color: #096387;
  text-align: center;
  animation-name: example;
  animation-duration: 5s;
  animation-direction: reverse;
  position: relative;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }

  25% {
    left: 0px;
    right: 0px;
  }

  50% {
    left: 200px;
    right: 200px;
  }

  75% {
    left: -200px;
    right: 0px;
  }

  100% {
    left: 0px;
    right: 0px;
  }
}

.teacher-img {
  width: 20%;
  border-radius: 100%;
  margin-left: 40%;
  margin-right: 40%;
  border: #096387 3px dashed;
}

.teacher-email {
  text-align: center;
  display: inline;
  font-weight: normal;
  color: #096387;
}

.teacher-emtitle {
  margin-left: 40%;
  margin-right: 10px;
  display: inline-block;
  font-weight: bold;
  color: #096387;
  margin-top: 10px;
}

#email {
  margin-left: 42%;
  margin-bottom: 10px;
  color: #096387;

}

.teacher-p {
  background-color: #096387;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  color: white;
}

hr {
  margin-right: 10%;
  margin-left: 10%;
}

.profile-button {
  text-decoration: none;
  color: white;
}

#profile-div {
  margin-left: 75px;
  margin-right: 75px;
  display: inline;
  background-color: #096387;
  color: white;
  border: #096387 3px solid;
  font-size: 20px;
  border-radius: 10px;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

#profile-div:hover {
  background-color: white;
  color: #096387;
  font-weight: bold;
  font-size: 23px;
}

.profile-div-all {
  width: 100%;
  /* background-color: #751111; */
  text-align: center;
  font-size: 30px;
  height: 30px;
  /* padding-top: 10px ; */
  margin-bottom: 20px;

}

#contact {
  width: 280px;
  height: inherit;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 20px;
}

.UniDiv_2 {
  float: left;
  padding: 10px;
  margin-left: 15px;
  margin-top: 5px;
  background-color: #096387;
  border-radius: 25px;
  width: 300px;
  height: inherit;
  align-items: center;
  margin-bottom: 30px;
}

.contact_img {
  width: 70px;
  height: inherit;
  margin-left: 15px;
}

#contact_div {
  align-items: center;
  padding-left: 60px;
}

.input1 {
  width: 60%;
  padding: 12px 20px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border: 2px solid #096387;
  border-radius: 4px;
  box-sizing: border-box;
  align-self: center;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition-duration: 0.3s;
}

.details_header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: xx-large;
  font-family: revert;
  margin-left: 40%;
}

.details_link {
  display: flex;
  border-width: 10px;
  background-color: #096387;
  color: white;
  border: 2px solid #096387;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.3s;
  text-align: center;
  margin-left: 43%;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 18px;
}

.details_link:hover {
  background-color: white;
  color: #096387;
  box-shadow: 0 10px 12px 0 rgba(66, 66, 66, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#Massage {
  padding-bottom: 100px;
}

.Form {
  padding: 10px;
}

#profile_header {
  margin-left: 30%;
  margin-right: 50px;
}

#profile_info {
  text-align: center;
  display: block;
  margin-top: -40px;
}

.profile_div {
  align-items: center;
}

#req_header {
  margin-left: 15px;
  margin-right: 50px;
  color: white;
}

#req_info {
  text-align: center;
  display: block;
  margin-top: -45px;
  color: white;
}

.req_div {
  background-color: #096387;
  width: 80%;
  border-radius: 10px;
  margin-left: 10%;
  height: 50px;
  margin-top: 20px;
  transition-duration: 0.3s;

}

.req_div:hover {
  margin-left: 5%;
  width: 90%;
  height: 50px;
  padding: 10px;
  box-shadow: 0 10px 12px 0 rgba(66, 66, 66, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

Link {
  transition-delay: 0.3s;
}

#sub {
  font-family: RTSFont !important;
  margin-top: 50px;
  color: #096387;
  text-align: center;
  animation-name: example;
  animation-duration: 5s;
  animation-direction: reverse;
}

#cooking {
  width: 40%;
  margin-left: 30%;
  border-radius: 10px;
}

#Tutorial_link {
  margin-left: 44%;
  font-size: 20px;
  display: inline;
}

.video {
  width: 80%;
  height: 550px;
}

.form {
  border-radius: 5px;
  margin-bottom: 0px;
  width: 80%;
}



#submit {
  margin-left: 46%;
}

.about-img {
  width: 40%;
  margin-right: 20px;
}


.about-p {
  text-align: justify;
  color: #096387;
  font-size: 20px;
}

.about-div {
  /* margin-left: 10%; */
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 40px;

}

#about-link {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline;
  background-color: #096387;
  color: white;
  border: #096387 3px solid;
  font-size: 25px;
  border-radius: 10px;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

#about-link:hover {
  background-color: white;
  color: #096387;
  font-weight: bold;
  /* font-size: 23px; */
}

.sign-div {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.form__label {
  display: flex;
  margin-bottom: 70px;
  font-size: 25px;
  font-weight: bold;
  color: #096387;
}

.form__input {
  padding: 10px;
  width: 80%;
  margin-bottom: 50px;
  font-size: 20px;
  border-radius: 5px;
  border-color: #096387;
}

.divv {
  display: flex;

}

#sign-div1 {
  margin-left: 50px;
}

.labels {
  width: 500px;
}

#sign-link {
  margin-bottom: 10px;
  display: inline;
  background-color: #096387;
  color: white;
  border: #096387 3px solid;
  font-size: 25px;
  border-radius: 10px;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
}
#sign-link:hover {
  background-color: white;
  color: #096387;
  font-weight: bold;
}